@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '../Variables/Variables.scss';

html 
{
    font-size: 62.5%;
}

body 
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.Banner
{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 40vw;
    &__arrowLeft
    {
        position: absolute;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 2rem 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: whitesmoke;
        font-size: 4rem;
        cursor: pointer;
    }
    &__arrowRight
    {
        position: absolute;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 2rem 1rem;
        top: 50%;
        left: 100%;
        transform: translate(-90%, -50%);
        color: whitesmoke;
        font-size: 4rem;
        cursor: pointer;
    }
    ul 
    {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 10rem;
        @mixin cssLi($font-size, $color, $padding) {
            font-size: $font-size;
            color: $color;
            padding-left: $padding;
            cursor: pointer;
        }
        @mixin cssBefore() {
            content: "";
            position: absolute;
            width: 4rem;
            height: 0.3rem;
            background-color: white;
            top: 70%;
            left: 300%;
            transform: translate(-50%, -200%);
        }
        
        li:first-child
        {
            @include cssLi(2rem, white, 0rem);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            div 
            {
                width: 3rem;
                height: 0.3rem;
                background-color: white;
                margin-left: 1rem;
            }
            .indexSlider
            {
                width: 5rem;
                height: 0.3rem;
                background-color: white;
                margin-left: 1rem;
            }

        }
        li:nth-child(2)
        {
            @include cssLi(2rem, white, 2rem);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            div 
            {
                width: 3rem;
                height: 0.3rem;
                background-color: white;
                margin-left: 1rem;
            }
            .indexSlider
            {
                width: 5rem;
                height: 0.3rem;
                background-color: white;
                margin-left: 1rem;
            }
        }
        li:nth-child(3)
        {
            @include cssLi(2rem, white, 2rem);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            div 
            {
                width: 3rem;
                height: 0.3rem;
                background-color: white;
                margin-left: 1rem;
            }
            .indexSlider
            {
                width: 5rem;
                height: 0.3rem;
                background-color: white;
                margin-left: 1rem;
            }
        }
        li:last-child
        {
            @include cssLi(2rem, white, 2rem);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            div 
            {
                width: 3rem;
                height: 0.3rem;
                background-color: white;
                margin-left: 1rem;
            }
            .indexSlider
            {
                width: 5rem;
                height: 0.3rem;
                background-color: white;
                margin-left: 1rem;
            }
        }
        
    }
}
