$textColor: rgb(51,51,51);
$backgroundLeft: #b8ccc6;
// $backgroundRight: rgb(51,51,51);
$colorButtonForm: rgb(184,204,198);
$colorButtonFormRight: #f7f7f7;
$colorTextGreen: rgb(172,207,218);
$backFb:rgb(59,89,152);
$backGG:rgb(66,133,244);