$textColor: rgb(51,51,51);
$backgroundLeft: #b8ccc6;
$colorButtonForm: rgb(184,204,198);
$colorButtonFormRight: #f7f7f7;
$colorTextGreen: rgb(119, 149, 158);
$backFb:rgb(59,89,152);
$backGG:rgb(66,133,244);
$colorTextGreen1: rgb(171,199,191);
$backModalCart: rgb(247,247,247);