@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '../Variables/Variables.scss';

html 
{
    font-size: 62.5%;
}

body 
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.Footer
{
    width: 90vw;
    height: 4vw;
    background-color: white;
    position: static;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.6rem 0;
    margin-top: 3rem;
    border-top: 1px solid rgb(184, 182, 182);
    @mixin textHeader($color, $font-size, $font-family, $font-weight) {
        color: $color;
        font-size: $font-size;
        font-family: $font-family;
        font-weight: $font-weight;
    }
    @mixin iconHeader($font-size, $margin-right, $font-weight) {
        font-size: $font-size;
        margin-right: $margin-right;
        cursor: pointer;
        font-weight: $font-weight;
    }
    &__Logo
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        i
        {
            color: black;
            font-size: 2.5rem;
            margin-right: 1rem;
        }
        p
        {
            @include textHeader(black, 2rem, "'Lato', sans-serif", 600);
        }
    }
    &__Contact
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        .facebook 
        {
            outline: none;
            border: 2px solid $colorTextGreen1;
            border-radius: 50%;
            padding: 1rem 1.2rem;
            cursor: pointer;
            color: rgb(153,153,153);
        }
        
    }    
}