@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '../Variables/Variables.scss';

html 
{
    font-size: 62.5%;
}

body 
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}


.Modal__Hide
{
    display: none;
}

.Modal__Show
{
    width: 60vw;
    height: 70vh;
    background-color: rgb(228, 225, 225);
    color: black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    .header_add
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 
        {
            text-align: left;
            font-size: 1.8rem;
            font-weight: 600;
            margin-left: 2rem;
        }
        p 
        {
            text-align: left;
            font-size: 1.8rem;
            font-weight: 500;
            margin-right: 2rem;
            cursor: pointer;
        }
    }
    .Input__Name
    {
        display: flex;
        flex-direction: row;    
        // justify-content: flex-start;
        &-left 
        {
            display: flex;
            flex-direction: column;    
            justify-content: flex-start;
            align-items: flex-start;
            width: 50%;
            #label_name
            {
                padding: 1.5rem 1rem 0rem 1.5rem;
                font-size: 1.7rem;
                font-weight: 400;
            }
            #input_name
            {
                margin: 1.5rem 1.5rem 0rem 1.5rem;
                font-size: 1.3rem;
                padding: 1rem;
                font-weight: 400;
                outline: none;
                border: 1px solid rgb(182, 182, 182);
                width: 80%;
            }
    
            #label_description
            {
                padding: 1.5rem 1rem 0rem 1.5rem;
                font-size: 1.7rem;
                font-weight: 400;
            }
            #input_description
            {
                margin: 1.5rem 1.5rem 0rem 1.5rem;
                font-size: 1.3rem;
                padding: 1rem;
                font-weight: 400;
                outline: none;
                border: 1px solid rgb(182, 182, 182);
                width: 80%;
            }

            #label_price
            {
                padding: 1.5rem 1rem 0rem 1.5rem;
                font-size: 1.7rem;
                font-weight: 400;
            }
            #input_price
            {
                margin: 1.5rem 1.5rem 0rem 1.5rem;
                font-size: 1.3rem;
                padding: 1rem;
                font-weight: 400;
                outline: none;
                border: 1px solid rgb(182, 182, 182);
                width: 80%;
            }

            button 
            {
                margin: 3rem 1.5rem 0rem 13rem;
                font-size: 1.3rem;
                padding: 1rem;
                font-weight: 400;
                outline: none;
                border: none;
                width: 20%;
                background-color: rgb(1,113,229);
                color: white;
                font-size: 1.4rem;
                cursor: pointer;
            }
        }
        &-right
        {
            display: flex;
            flex-direction: column;
            width: 60%;
            img 
            {
                width: 70%;
                height: 70%;
                object-fit: cover;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }

}